<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ContraDrift.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ContraDrift.Properties.Settings>
            <setting name="TelescopeProgId" serializeAs="String">
                <value />
            </setting>
            <setting name="Status" serializeAs="String">
                <value />
            </setting>
            <setting name="WatchFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="PID_Setting_Kp_RA" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PID_Setting_Ki_RA" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PID_Setting_Kd_RA" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PID_Setting_Kp_DEC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PID_Setting_Ki_DEC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PID_Setting_Kd_DEC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PID_Setting_Nfilt_RA" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PID_Setting_Nfilt_DEC" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PID_Setting_Kp_RA_filter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PID_Setting_Ki_RA_filter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PID_Setting_Kd_RA_filter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PID_Setting_Kp_DEC_filter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PID_Setting_Ki_DEC_filter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PID_Setting_Kd_DEC_filter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProcessingTraditional" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UCAC4_path" serializeAs="String">
                <value />
            </setting>
            <setting name="DecRateLimitSetting" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RaRateLimitSetting" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BufferFitsCount" serializeAs="String">
                <value>0</value>
            </setting>
        </ContraDrift.Properties.Settings>
    </userSettings>
</configuration>